---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
---

<BaseLayout title="Resume">
  <h1>Resume</h1>
  <a href={`${import.meta.env.BASE_URL}resume.pdf`}>Download PDF</a>
  
</BaseLayout>