---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
---

<BaseLayout title="Resume">
  <h1>Resume</h1>

  <Button href="kapils-website/resume.pdf"} label="Download PDF" />
</BaseLayout>